---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->

<h2>Journal Articles (期刊论文)</h2>
<ol>
  <li>
    <b>Lin, Y.</b>, Wang, L., Dang, J., & Minematsu, N. (2025). Gestural feature extraction and multi-feature co-activation for dysarthric speech recognition. <i>Information Fusion</i>, 103490. （中科院一区TOP，IF: 15.5）
  </li>
  <li>
    <b>Lin, Y.</b>, Wang, L., Yang, Y., & Dang, J. (2023). CFDRN: A cognition-inspired feature decomposition and recombination network for dysarthric speech recognition. <i>IEEE/ACM Transactions on Audio, Speech, and Language Processing</i>, 31, 3824-3836. （中科院一区， CCF-B）  
  </li>
  <li>
    <b>Lin, Y.</b>, Dang, J., Wang, L., Li, S., & Ding, C. (2023). Disordered speech recognition considering low resources and abnormal articulation. <i>Speech Communication</i>, 155, 103002.（中科院二区，CCF-B）
  </li>
  <li>
    <b>Lin, Y.</b>, Zhang, S., Gao, Z., Wang, L., Yang, Y., & Dang, J. (2023). Wav2vec‐MoE: An unsupervised pre‐training and adaptation method for multi‐accent ASR. <i>Electronics Letters</i>, 59(11), e12823. 
  </li>
</ol>

<h2>Conference Papers （国际会议论文）</h2>
<ol>
  <li>
    <b>Lin, Y.</b>, Wang, L., Dang, J., & Minematsu, N. (2024). Exploring pre-trained speech model for articulatory feature extraction in dysarthric speech using ASR. <i>Proc. INTERSPEECH</i>, pp. 1-5.
  </li>
  <li>
    <b>Lin, Y.</b>, Wang, L., Dang, J., & Minematsu, N. (2023). Enhancing dysarthric speech recognition with auxiliary feature fusion module: Exploring articulatory-related features from foundation models. <i>IEICE Technical Report</i>, 123(292), 31-36.
  </li>
  <li>
    Yang, Y., Shi, H., <b>Lin, Y.</b>, Ge, M., Wang, L., Hou, Q., & Dang, J. (2022). Adaptive attention network with domain adversarial training for multi-accent speech recognition. <i>IEEE-ISCSLP</i>, pp. 6-10.
  </li>
  <li>
    Qin, S., Wang, L., Li, S., <b>Lin, Y.</b>, & Dang, J. (2022). Finer-grained modeling units-based meta-Learning for low-resource Tibetan speech recognition. <i>Proc. INTERSPEECH</i>, pp. 2133-2137.
  </li>
  <li>
    Xu, Q., Song, T., Wang, L., Shi, H., <b>Lin, Y.</b>, Lv, Y., ... & Dang, J. (2022). Self-distillation based on high-level information supervision for compressing end-to-end ASR model. <i>Proc. INTERSPEECH</i>, pp. 1716-1720.
  </li>
  <li>
    <b>Lin, Y.</b>, Wang, L., Dang, J., Li, S., & Ding, C. (2020). End-to-end articulatory modeling for dysarthric articulatory attribute detection. In <i>Proc. IEEE-ICASSP</i>, pp. 7349-7353.
  </li>
  <li>
    <b>Lin, Y.</b>, Wang, L., Li, S., Dang, J., & Ding, C. (2020). Staged knowledge distillation for end-to-end dysarthric speech recognition and speech attribute transcription. <i>Proc. INTERSPEECH</i>, pp. 4791-4795.
  </li>
</ol>



